<div>
    <h2><%= @player.name %></h2>
    <br/>
    <h3><%= @player.summoner.summonerName %></h3>
    <p><%= link_to "Summoner Details", @player.summoner%></p>
</div>
<br/>
<div>
    <h4>Player Information</h4>
    <p>
    Address: <%= @player.address%><br/>
    Email: <%= @player.email%><br/>
    Phone Number: <%= @player.phone_number%>
    </p>
</div>