<!DOCTYPE html>
<html>
  <head>
    <title>League</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Top North American League of Legends Players</h1>
    <header>
          <%= link_to 'Players', root_path %> |
          <%= link_to 'Summoners', summoners_path %>
    </header>
    <%= yield %>
  </body>
</html>
